<div>
    <h2>
        <span>Conteudos</span>
        <button class="btn btn-primary float-right jh-create-entity create-conteudo-conteudo" [routerLink]="['/', { outlets: { popup: ['conteudo-conteudo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Conteudo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="conteudos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ordem"><span>Ordem</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="conteudo"><span>Conteudo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paginaId"><span>Pagina</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let conteudo of conteudos ;trackBy: trackId">
                <td><a [routerLink]="['../conteudo-conteudo', conteudo.id ]">{{conteudo.id}}</a></td>
                <td>{{conteudo.ordem}}</td>
                <td>{{conteudo.conteudo}}</td>
                <td>
                    <div *ngIf="conteudo.paginaId">
                        <a [routerLink]="['../pagina-conteudo', conteudo.paginaId  ]" >{{conteudo.paginaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../conteudo-conteudo', conteudo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'conteudo-conteudo/'+ conteudo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'conteudo-conteudo/'+ conteudo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="conteudos && conteudos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
