
<div *ngIf="pagina">
    <h2><span>Pagina</span> {{pagina.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Titulo</span></dt>
        <dd>
            <span>{{pagina.titulo}}</span>
        </dd>
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{pagina.nome}}</span>
        </dd>
        <dt><span>Grupo</span></dt>
        <dd>
            <div *ngIf="pagina.grupoId">
                <a [routerLink]="['/grupo-conteudo', pagina.grupoId]">{{pagina.grupoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pagina-conteudo/'+ pagina.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
