<div>
    <h2>
        <span>Paginas</span>
        <button class="btn btn-primary float-right jh-create-entity create-pagina-conteudo" [routerLink]="['/', { outlets: { popup: ['pagina-conteudo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Pagina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paginas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="titulo"><span>Titulo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span>Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="grupoId"><span>Grupo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pagina of paginas ;trackBy: trackId">
                <td><a [routerLink]="['../pagina-conteudo', pagina.id ]">{{pagina.id}}</a></td>
                <td>{{pagina.titulo}}</td>
                <td>{{pagina.nome}}</td>
                <td>
                    <div *ngIf="pagina.grupoId">
                        <a [routerLink]="['../grupo-conteudo', pagina.grupoId  ]" >{{pagina.grupoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pagina-conteudo', pagina.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pagina-conteudo/'+ pagina.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pagina-conteudo/'+ pagina.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="paginas && paginas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
